a.active
    text-decoration: underline
.nav-item
    cursor: pointer
    padding: 10px
    border-bottom: 1px black solid
    &:first-child
        border-radius: 10px 10px 0 0
    &:last-child
        border-radius: 0 0 10px 10px
    &:focus
        outline: none
    & a
        color: #000
    &.active
       background-color: #880e4f
    &.active a
        color: #fff