<div class="app">
    <nav>
        <div class="nav-wrapper pink darken-4">
            <a [routerLink]="['/']" class="brand-logo">
                Angular Pro
            </a>
        </div>
    </nav>
    <div class="row">
        <div class="col s6 m2">
            <ul class="nav">
                <li class="nav-item" [routerLink]="[{outlets: {primary: 'folder/inbox', pane: null}}]" routerLinkActive="active"><a>Inbox</a></li>
                <li class="nav-item" [routerLink]="[{outlets: {primary: 'folder/trash', pane: null}}]" routerLinkActive="active"><a>Trash</a></li>
            </ul>            
        </div>
        <div class="col s9">
            <app-mail-app></app-mail-app>
        </div>
    </div>
</div>